body {
    margin: 0;
    border: 0;
}

@font-face {
    font-family: 'Horrormaster';
    src: url('../template-assets/fonts/Horrormaster.ttf');
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../template-assets/fonts/EBGaramond12-Regular.otf');
}

@font-face {
    font-family: 'Gilaka';
    src: url('../template-assets/fonts/Gilaka-yqqY.otf');
}

@font-face {
    font-family: 'Horrorfind';
    src: url('../template-assets/fonts/Horrorfind.ttf');
}

.dates-container {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../template-assets/bg-texture.png');
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dates-hero {
    background-image: url('../template-assets/Circus.png');
    background-position: center;
    background-size: cover;
    display: flex;
    width: 80%;
    max-width: 1160px;
    height: 75vh;
}

.blur-container {
    background-image: url('../template-assets/carousel-border.png');
    background-size: cover;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.dates-heading {
    color: #b90803;
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Horrormaster';
    letter-spacing: 8.4px;
    margin-bottom: 0px;
}

.dates-text {
    color: #ffffff;
    font-size: 35px;
    width: 80%;
    font-family: 'EB Garamond';
    line-height: 1.45;
    text-align: center;
}

.info-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.heading {
    font-size: 70px;
    color: #b90803;
    font-family: 'Horrormaster';
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 7.8px;
}

.info-text {
    font-size: 25px;
    font-family: 'EB Garamond';
    color: #ffffff;
    width: 474px;
    line-height: 1.32
}

.time-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get-tickets-button {
    background-image: url('../template-assets/button-static-2.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 22vh;
    width: 18vw;
}

.get-tickets-text {
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 35px;
    letter-spacing: 3.5px;
    font-family: 'Gilaka';
}

.calendar-visual {
    width: 596px;
    opacity: .75;
}

.promotions-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.promotions-text {
    font-size: 25px;
    font-family: 'EB Garamond';
    color: #ffffff;
    width: 60%;
    line-height: 1.32;
    text-align: center
}

@media (max-width: 600px) {
    .dates-hero {
        width: 100%;
    }

    .dates-heading {
        font-size: 50px;
        font-family: 'Horrormaster';
    }

    .dates-text {
        font-size: 22px;
        margin: 0;
        width: 80%
    }

    .info-container {
        flex-direction: column;
        align-items: center;
    }

    .info-text {
        font-size: 20px;
    }

    .heading {
        font-size: 50px;
        font-family: 'Horrorfind';
    }

    .calendar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .time-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .dates-text {
        font-size: 22px;
    }

    .calendar-visual {
        width: 80%;
    }

    .get-tickets-button {
        width: 50vw;
    }

    .promotions-text {
        font-size: 20px;
    }
}