body {
    margin: 0;
    border: 0;
}

@font-face {
    font-family: 'Horrormaster';
    src: url('../assets/fonts/Horrormaster.ttf');
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../assets/fonts/EBGaramond12-Regular.otf');
}

@font-face {
    font-family: 'Gilaka';
    src: url('../assets/fonts/Gilaka-yqqY.otf');
}

@font-face {
    font-family: 'Horrorfind';
    src: url('../assets/fonts/Horrorfind.ttf');
}

.events-container {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../assets/bg-texture.png');
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.events-hero {
    background-image: url('../assets/Circus.png');
    background-position: center;
    background-size: cover;
    display: flex;
    height: 589px;
    width: 1160px;
}

.blur-container {
    background-image: url('../assets/carousel-border.png');
    background-size: cover;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.events-hero-heading {
    color: #b90803;
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Horrormaster';
    letter-spacing: 8.4px;
    margin-bottom: 0px;
}

.events-hero-text {
    color: #ffffff;
    font-size: 35px;
    margin: 24px 196px;
    font-family: 'EB Garamond';
    line-height: 1.45;
    text-align: center;
}

.events-info {
    margin-top: 75px;
}

.events-heading {
    font-size: 65px;
    color: #b90803;
    font-family: 'Horrorfind';
    text-transform: uppercase;
    letter-spacing: 7.8px;
}

.events-text {
    font-size: 25px;
    font-family: 'EB Garamond';
    color: #ffffff;
    width: 1160px;
    line-height: 1.32
}

.events-submission-form {
    display: flex;
    flex-direction: column;
    width: 1160px;
}

.subscribe-button-container {
    font-size: 35px;
    background-image: url('../assets/button-static-1.png');
    background-size: cover;
    background-position: center;
    width: 275px;
    height: 70px;
    display: flex;
    align-items: flex-start;
}

.subscribe-button {
    margin-left: 65px;
    margin-top: 15px;
    font-family: 'Gilaka';
    letter-spacing: 3.5px;
}
