body {
    margin: 0;
    border: 0;
}

@font-face {
    font-family: 'Horrormaster';
    src: url('../template-assets/fonts/Horrormaster.ttf');
}

@font-face {
    font-family: 'Horrorfind';
    src: url('../template-assets/fonts/Horrorfind.ttf');
}

@font-face {
    font-family: 'Gilaka';
    src: url('../template-assets/fonts/Gilaka-yqqY.otf');
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../template-assets/fonts/EBGaramond12-Regular.otf');
}

@font-face {
    font-family: 'EB Garamond, Bold';
    src: url('../template-assets/fonts/EBGaramond08-Regular.otf');
}



.homepage {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../template-assets/bg-texture.png');
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

.hero-container {
    background-image: url('../template-assets/Circus.png');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 589px;
    width: 1160px;
}

.hero-title {
    color: #b90803;
    font-size: 70px;
    margin-left: 97px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: 'Horrormaster';
    letter-spacing: 8.4px;
}

.hero-text {
    color: #ffffff;
    font-size: 35px;
    margin-left: 97px;
    margin-right: 400px;
    font-family: 'EB Garamond';
    line-height: 1.45;
}

.sub-hero-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.blood-dot-container {
    display: flex;
    width: 84px;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    gap: 5px;
}

.blood-dots {
    width: 14px;
    height: 14px;
}

.blood-dots-alt {
    width: 22px
}

.sub-hero-text {
    font-size: 25px;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center;
    margin: 70px 150px;
    font-family: 'EB Garamond';
}

.get-tickets-button {
    background-image: url('../template-assets/button-static-2.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 22vh;
    width: 18vw;
}

.get-tickets-text {
    display: flex;
    align-items: center;
    margin-top: 25px;
    font-size: 35px;
    letter-spacing: 3.5px;
    font-family: 'Gilaka';
}

.calendar-location-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    z-index: 1;
}

.bg-farm {
    position: absolute;
    z-index: -1;
    width: 700px;
    margin-left: -450px;
    opacity: .5;
}

.calendar-location-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.calendar-location-heading {
    font-size: 70px;
    color: #b90803;
    font-family: 'Horrormaster';
    margin-bottom: 0;
    text-transform: uppercase;
    letter-spacing: 8.4px;
    z-index: 1;
}

.hours-text {
    color: #ffffff;
    font-size: 25px;
    font-family: 'EB Garamond, Bold'
        /*Bold*/
    ;
    margin: 44px 0 0 0;
    text-align: center;
}

.hours-sub-text {
    color: #ffffff;
    font-size: 25px;
    font-family: 'EB Garamond';
    margin: 0;
}

.calendar-location-visuals {
    display: flex;
    width: 100%;
    margin: 90px auto;
    z-index: 1;
    justify-content: center;
}

.bg-scarecrow {
    position: absolute;
    z-index: 0;
    width: 565px;
    opacity: .5;
    margin-left: 1250px;
    margin-top: 500px;
}

.calendar-visual {
    width: 596px;
    opacity: .75;
}

.map-visual {
    width: 571px;
    opacity: .75;
}

.attractions-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.attractions-cards-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.attractions-heading {
    font-size: 70px;
    color: #b90803;
    font-family: 'Horrormaster';
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8.4px;
}

.attractions-card {
    background-size: cover;
    width: 275px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 33.33333%;
}

.attractions-card-alt {
    background-size: cover;
    width: 275px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 33.33333%;
    transform: matrix(1, -0.07, 0.07, 1, 0, 0);
}

.attractions-title {
    color: #b90803;
    font-family: 'Gilaka';
    font-size: 48px;
    transform: matrix(1, 0.03, -0.03, 1, 0, 0);
    width: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#field-screams-card {
    background-image: url('../template-assets/Polaroid-corn.png');
}

#shady-acres-card {
    background-image: url('../template-assets/Polaroid-asylum.png');
}

#circus-horror-card {
    background-image: url('../template-assets/Polaroid-circus.png')
}

#axe-throwing-card {
    background-image: url('../template-assets/Polaroid-axe.png');
}

#escape-room-card {
    background-image: url('../template-assets/Polaroid-escape.png');
}

#zombie-paintball-card {
    background-image: url('../template-assets/Polaroid-paintball.png');
}

.get-tickets-button-alt {
    background-image: url('../template-assets/button-static-1.png');
    background-position: center;
    background-size: cover;
    font-family: 'Gilaka';
    display: flex;
    justify-content: center;
    font-size: 35px;
    width: 350px;
    height: 100px;
    transform: matrix(1, -0.02, 0.02, 1, 0, 0);
}

.get-tickets-text-alt {
    display: flex;
    align-items: center;
    font-family: 'Gilaka';
    letter-spacing: 3.5px;
    transform: matrix(1, -0.02, 0.02, 1, 0, 0);
}

.sponsors-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sponsors-heading {
    font-size: 70px;
    color: #b90803;
    font-family: 'Horrorfind';
    margin-bottom: 0;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 7.8px;
    z-index: 1;
}

.sponsors-text {
    color: #ffffff;
    font-size: 25px;
    font-family: 'EB Garamond';
    width: 80%;
    text-align: center;
    line-height: 1.25;
    z-index: 1;
}

.bg-tools {
    position: absolute;
    z-index: 0;
    width: 501px;
    opacity: .5;
    margin-left: -700px;
}

.sponsor-logos-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    align-items: center;
}

.top-level-sponsors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 80%;
}

.premier-row {
    width: 50%;
    height: 50%;
}

.level-1-sponsors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.top-row {
    width: 25%;
}

#concord-logo {
    width: 33.3333%;
}

#rusing-lopez-lizardi-logo {
    width: 33.3333%;
}

#buckelew-farm-logo {
    width: 20vw;
}

.red-line {
    width: 326px;
}

.level-2-sponsors {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.top-row-two {
    width: 20vw;
}

.bottom-row-two {
    width: 20vw;
    margin-top: 20px;
}

@media (min-width: 601px) {
    .mobile-calendar-location-heading {
        display: none;
    }
}

@media (max-width: 600px) {
    .hero-container {
        background-size: contain;
        background-repeat: no-repeat;
        width: 80%;
        height: 275px;
        align-items: center;
    }

    .hero-title {
        margin-left: 0;
        font-size: 35px;
        text-align: center;
    }

    .hero-text {
        margin: 15px;
        font-size: 16px;
        text-align: center;
    }

    .blood-dot-container {
        margin-top: 5px;
        gap: 0;
    }

    .blood-dots {
        width: 8px;
        height: 8px;
    }
    
    .blood-dots-alt {
        width: 14px
    }

    .sub-hero-text {
        font-size: 16px;
        margin: 20px 40px;
        line-height: 1.45;
    }

    .get-tickets-button {
        width: 50%
    }

    .get-tickets-text {
        font-size: 5vw;
        margin-top: 13px;
        text-align: center;
    }

    .calendar-location-heading {
        display: none;
    }

    .mobile-calendar-location-heading {
        font-size: 45px;
    color: #b90803;
    font-family: 'Horrorfind';
    letter-spacing: 6.75px;
    }

    .bg-farm {
        display: none;
    }

    .bg-scarecrow {
        display: none;
    }

    .bg-tools {
        display: none;
    }

    .calendar-location-visuals {
        flex-direction: column;
        align-items: center;
    }

    .calendar-visual {
        width: 80%;
        opacity: .75;
    }
    
    .map-visual {
        width: 80%;
        opacity: .75;
    }

    .attractions-heading {
        font-size: 45px;
        color: #b90803;
        font-family: 'Horrorfind';
    }

    .sponsors-heading {
        font-size: 45px;
        color: #b90803;
        font-family: 'Horrorfind';
    }

    .sponsors-text {
        font-size: 21px;
    }
}