body {
    margin: 0;
    border: 0;
    background-image: url('../template-assets/corn-stalks.png'), url('../template-assets/bg-texture.png');
    background-position: top center, bottom center;
    background-size: contain;
    background-repeat: no-repeat, repeat;
    background-color: rgba(0, 0, 0, .9);
    width: 100%;
}

@font-face {
    font-family: 'Horrormaster';
    src: url('../template-assets/fonts/Horrormaster.ttf');
}

@font-face {
    font-family: 'EB Garamond';
    src: url('../template-assets/fonts/EBGaramond12-Regular.otf');
}

@font-face {
    font-family: 'Gilaka';
    src: url('../template-assets/fonts/Gilaka-yqqY.otf');
}

@font-face {
    font-family: 'Horrorfind';
    src: url('../template-assets/fonts/Horrorfind.ttf');
}

.jobs-container {
    width: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.jobs-hero {
    background-image: url('../template-assets/Jobs-Page-Hero.jpeg');
    background-position: center;
    background-size: cover;
    display: flex;
    height: 75vh;
    width: 1160px;
    margin-bottom: 87px;
}

.blur-container {
    background-image: url('../template-assets/carousel-border.png');
    background-size: cover;
    backdrop-filter: blur(6px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.jobs-heading {
    color: #b90803;
    font-size: 70px;
    text-transform: uppercase;
    font-family: 'Horrormaster';
    letter-spacing: 8.4px;
    margin-bottom: 0px;
}

.jobs-text {
    color: #ffffff;
    font-size: 35px;
    margin: 24px 196px;
    font-family: 'EB Garamond';
    line-height: 1.45;
    text-align: center;
}

.opportunities-heading {
    font-size: 65px;
    color: #b90803;
    font-family: 'Horrorfind';
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 7.8px;
}

.opportunities-text {
    font-size: 25px;
    font-family: 'EB Garamond';
    color: #ffffff;
    width: 1160px;
    line-height: 1.32
}

.job-description-container {
    background-image: url('../template-assets/carousel-border.png');
    background-size: cover;
    backdrop-filter: blur(8px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 54px;
}

.job-description-heading {
    color: #b90803;
    font-size: 65px;
    margin-bottom: 40px;
    margin-top: 84px;
    text-transform: uppercase;
    font-family: 'Horrorfind';
    letter-spacing: 7.8px;
}

.bullets-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.bullets-left {
    display: flex;
    flex-direction: column;
    width: 581px;
}

.bullets-right {
        display: flex;
        flex-direction: column;
        width: 581px;
        margin-bottom: 40px;
}

.bullet {
    display: flex;
    align-items: center;
}

.sub-bullet {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

.fingerprint {
    width: 42.18px;
    height: 42.18px;
    transform: matrix(0.97, 0.22, -0.22, 0.97, 0, 0);
}

.fingerprint-alt {
    width: 42.18px;
    height: 42.18px;
    transform: matrix(0.97, -0.26, 0.26, 0.97, 0, 0);
}

.bullet-info {
    color: #ffffff;
    font-size: 25px;
    font-family: 'EB Garamond';
    line-height: 1.32;
}

.apply-button-container {
    font-size: 40px;
    background-image: url('../template-assets/button-static-1.png');
    background-size: cover;
    background-position: center;
    width: 350px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apply-button {
    font-family: 'Gilaka';
    letter-spacing: 4.5px;
}

.apply-button:hover {
    font-size: 39px;
    animation-duration: 0.3s;
}

/* Header CSS */

.header {
    max-width: 100%;
    margin-bottom: 50px;
    /* background-size: cover;
        background-position: center; */
    display: flex;
    justify-content: center;
}

.titc-logo-container {
    display: flex;
    margin-top: 91.33px;
}

.titc-logo {
    max-height: 262.56px;
    width: auto;
}

.full-nav {
    display: flex;
    flex-direction: column;
    margin-top: 114px;
    gap: 74px;
}

.social-media-nav {
    display: flex;
    justify-content: flex-end;
    gap: 11px;
    flex-wrap: wrap;
}

.social-media-links {
    background-image: url('../template-assets/social-carousel.png');
    background-position: center;
    background-size: 56px 56px;
    display: flex;
    background-repeat: no-repeat;
    height: 56px;
    width: 56px;
    justify-content: center;
    align-items: center;
}

.social-media-links:focus {
    outline: none;
    }

#twitter-image {
    height: 37.59px;
    width: 37.59px;
}

#facebook-image {
    height: 37.59px;
    width: 37.59px;
}

#instagram-image {
    height: 37.59px;
    width: 37.59px;
}

#youtube-image {
    height: 37.59px;
    width: 37.59px;
}

#tiktok-image {
    height: 37.59px;
    width: 37.59px;
}

.main-nav {
    display: flex;
    flex-wrap: wrap
}

.main-nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 20px;
    letter-spacing: 5.85px;
    flex-wrap: wrap
    
}

.menu a {
    color: #ffffff;
    font-size: 39px;
    font-family: 'Horrormaster';
    text-decoration: none;
}

.menu-item {
    width: 100px;
}

#menu-item-146 {
    width: 250px;
}

.menu a:hover{
    color: #b90803;
    text-transform: uppercase;
    font-family: 'Horrorfind';
    font-size: 39px;
}

.menu-item button {
    display: none;
}

.menu-item ul {
    display: none;
}

.menu-item-148:hover .sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
    width: 250px;
}

#menu-item-184 {
    width: 250px
}

.menu-item-146:hover .sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
    width: 425px;
}

#menu-item-192 {
    width: 450px
}

#menu-item-191 {
    width: 450px
}

#menu-item-190 {
    width: 450px
}

#menu-item-189 {
    width: 450px
}

#menu-item-188 {
    width: 450px
}

#menu-item-187 {
    width: 450px
}

.menu-item-147:hover .sub-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 1;
    width: 200px;
}

.get-tickets-container {
    color: #000000;
    font-size: 35px;
    display: flex;
    background-image: url('../template-assets/button-static-2.png');
    background-size: cover;
    background-position: center;
    justify-content: center;
    width: 261px;
    margin-top: -20px
}

#get-tickets-link {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: 'Gilaka'
}

/* Footer CSS */

.footer {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.mailing-list-section {
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../template-assets/corn-footer.png');
    min-height: 68vh;
    max-width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ads-container {
    display: flex;
}

.ads-section {
    display: flex;
    gap: 28px
}

.email-signup-container {
    display: flex;
    flex-direction: column;
}

#mailing-list-text {
    font-size: 48px;
    color: #b90803;
    font-family: 'Gilaka';
    letter-spacing: 7.2px;
    text-transform: uppercase;
    margin: 0;
}

#mailing-list-instructions {
    font-size: 21px;
    color: #ffffff;
    font-family: 'EB Garamond';
    margin: 10px 0px;
}

#email-input {
    width: 368px;
    height: 40px;
    font-size: 21px;
    font-family: 'EB Garamond'
}

#mailing-list-disclaimer {
    font-size: 14px;
    color: #ffffff;
    inline-size: 376px;
}

.subscribe-button-container {
    font-size: 35px;
    background-image: url('../template-assets/button-static-1.png');
    background-size: cover;
    background-position: center;
    width: 275px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.subscribe-button {
    font-family: 'Gilaka';
    letter-spacing: 3.5px;
}

.universal-section {
    height: 145px;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buckelew-links-container {
    color: #ffffff;
    display: flex;
    flex-direction: column;
}

.buckelew-links-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    font-size: 21px;
    align-items: center;
    padding-left: 0px;
    /* font-family: New Spirit, Bold Condensed */
}

.bf-logos {
    height: 75px;
}

#buckelew-farm {
    height: 100px;
}

#contact-info {
    margin: 10px 0px;
    font-size: 16px;
    font-family: 'EB Garamond';
    display: flex;
    justify-content: center;
}

#email-address {
    color: #fdb41a;
}

.gjj-footer {
    background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../template-assets/bg-texture.png');
    background-size: cover;
    display: flex;
    justify-content: center;
}

#gjj-logo {
    height: 10%;
    width: 10%;
}

@media (min-width: 601px) {

    .mobile-nav {
        display: none;
    }

    .mobile-social-media-nav {
        display: none;
    }
}

@media (max-width: 600px) {
        /* Header Mobile CSS */

        .header {
            flex-direction: column;
            justify-content: unset;
        }
    
        .titc-logo-container {
            justify-content: center;
            margin-top: 81.75px;
        }
    
        .social-media-nav {
            display: none;
        }
    
        .get-tickets-container {
            display: none;
        }
    
        .main-nav {
            display: none;
        }
    
        .titc-logo {
            width: 190.27px;
            height: 170.26px;
        }
    
        .full-nav {
            align-items: center;
            margin-top: 30px;
        }
    
        .nav-hamburger {
            width: 75px;
        }
    
        /* Footer Mobile CSS*/
    
        .mailing-list-section {
            flex-direction: column-reverse;
        }
    
        .email-signup-container {
            align-items: center;
        }
    
        .ads-section {
            gap: 4px;
            justify-content: center;
            flex-wrap: wrap;
        }
    
        .universal-section {
            height: 308px;
            max-width: 100%;
        }
    
        .buckelew-links-container {
            max-width: 100%;
        }
    
        .buckelew-links-list {
            flex-wrap: wrap;
            justify-content: center;
        }
    
        #buckelew-farm {
            flex-basis: 35%;
            text-align: center;
        }
    
        #titc {
            flex-basis: 35%;
            text-align: center;
        }
    
        #fireworks-stands {
            flex-basis: 35%;
            text-align: center;
        }
    
        #christmas-tree-lots {
            flex-basis: 35%;
            text-align: center;
        }
    
        #contact-info {
            flex-wrap: wrap;
            line-height: 1.21;
            text-align: center;
        }
    
        .social-media-nav {
            max-width: 600rem;
            display: flex;
        }
    
        .social-media-links {
            width: 56px;
        }
    
        #email-input {
            width: 75%;
        }
}

